<div class="flex2">
    <a href="/" class="text-decoration-none text-warning">Are you sure</a>
    <form action="/delete-product/{{product._id}}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>