.content{
    display: flex;
    justify-content: space-between;
}

.content .first{
    width: 49%;
}
.content .second{
    width: 49%;
}

.img{
    height: 300px !important;
    object-fit: cover;
}